/* Definitionen f�r die �ffentlich zug�nglichen Seiten
-------------------------------------------------------*/

#outGameBody	{
	text-align:center;
	margin:0px;
}

#outGameTop	{
	
	text-align:right;
	background: url('../images/outgame/topbg.png') repeat-x;
	height:80px;
	position:relative;
	margin-bottom:30px;
}

#outGameTopmenu {
	list-style-type:none;
	clear:both;
	position:absolute;
	top:0px;
	right:0px;
	height:80px;
	margin:0px;
	padding:0px;
}

#outGameTopmenu li {
	float:left;
	display:block;
	margin:0px 0px;
	padding:10px;
	text-align:center;
	width:auto;
	border-left:1px solid #222;
	border-right:1px solid #444;
}

#outGameTopmenu li a {
	text-decoration:none;
	color:#999;
}

#outGameTopmenu li a:hover {
	color:#ddd;
}

#outGameTopmenu li a img {
	border:none;
	width:40px;
	height:40px;
}

#outGameTopLogo	{
	position:absolute;
	top:0px;
	left:0px;
}

#outGameTopName	{
	position:absolute;
	top:27px;
	left:250px;
	font-size:16pt;
}

h1	{
	padding-bottom:20px;
}

#outGameContent	{
	margin:2px 20px;
}

#outgameOverviewTable	{
	width:450px;
		margin:0px auto;
}

#outgameOverviewTable	td	{
	width:150px;
	height:150px;
}

#outgameOverviewTable	td	a {
	display:block;
	background:#777;
	border:1px solid #fff;
	width:120px;
	height:90px;
	text-align:center;
	padding-top:30px;
	text-decoration:none;
}

#outgameOverviewTable	td	a:hover {
	background:#444;
}