{% set title="Spielerbanner" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <p>Banner werden jeweils beim Aktualisieren der Punkte neu generiert.</p>

    {% for nick,banner in banners %}
        {% if banner %}
            <img src="{{ banner.url }}" alt="Banner" style="width:{{ width }}'px;height:{{ height }}px;"/>
        {% else %}
            <twig:alert type="warning">Banner für <b>{{ nick }}</b> existiert nicht!</twig:alert>
        {% endif %}
    {% endfor %}
{% endblock %}
