{% set title="Spieler IP-Adressen" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'IP Suche', url: path('admin.users.ips') },
    ]}) }}
{% endblock %}

{% block content %}

    <h2>Adresse oder Hostname suchen</h2>
    <form>
        <table>
            <tr>
                <th><label for="ip">IP Adresse oder Hostname</label></th>
                <td><input type="text" name="ip" id="ip" value="" autofocus required/></td>
            </tr>
        </table>
        <p>
            <input type="submit" name="search" value="Suchen"/>
        </p>
    </form>

{% endblock %}
