{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler</h1>
    <h2>IP Suche</h2>

    <form>
        <table class="tb">
            <tr>
                <th>IP:</th>
                <td><input type="text" name="ip" value="" /></td>
            </tr>
            <tr>
                <th>Host:</th>
                <td><input type="text" name="host" value="" /></td>
            </tr>
        </table><br/>
        <input type="submit" name="search" value="Suchen" />
    </form>
{% endblock %}
