{% set title="Spieler" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
    ]}) }}
{% endblock %}

{% block content %}
    {{ component('user_search', {
        form: form
    }) }}

    <p>Es sind {{ formatNumber(total) }} Einträge in der Datenbank vorhanden.</p>
{% endblock %}
