{% set title="Fehlerhafte Spielerlogins" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    {{ component('user_login_failures', {
        form: form
    }) }}

    <p>Es sind {{ formatNumber(total) }} Einträge in der Datenbank vorhanden.</p>

{% endblock %}
