{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    <h1>Spieler erstellen</h1>

    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: 'Erstellen', url: path('admin.users.new') },
    ]}) }}

    <div class="card">
        {{ form(form) }}
    </div>
{% endblock %}
