{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler</h1>
    <h2>Sitting: Laufende Sitteraccounts</h2>

    {% if entries is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Sitter</th>
                <th>Von</th>
                <th>Bis</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.userNick }}</td>
                    <td>{{ entry.sitterNick }}</td>
                    <td>{{ formatTimestamp(entry.dateFrom) }}</td>
                    <td>{{ formatTimestamp(entry.dateTo) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert>Keine Datensätze vorhanden!</twig:alert>
    {% endif %}
{% endblock %}
