{% extends 'admin/stats/base.html.twig' %}

{% block statsContent %}
    <h2>Titel</h2>

    {% if stats %}
        {{ stats|raw }}
    {% else %}
        {{ macros.messagebox('Die Liste wurde noch nicht erstellt! Bitte das nächste Statistikupdate abwarten', 'error') }}
    {% endif %}
{% endblock %}
