htdocs/cache/dberrors.txt
htdocs/cache/out/
htdocs/cache/smarty_compile/
htdocs/cache/userbanner/
htdocs/cache/user_xml/
htdocs/cache/xml/
htdocs/cache/allianceprofiles/
htdocs/cache/avatars/
htdocs/cache/filtered_images/
htdocs/cache/imagepacks/
htdocs/cache/rss/townhall.rss
htdocs/cache/userprofiles/
htdocs/cache/errors.txt
htdocs/config/db.conf
htdocs/config/periodictasks-overrides.conf
backup/
htdocs/log/*.log
htdocs/tmp/*.pid
/htdocs/designs/custom/*
/htdocs/config/debug
/htdocs/config/eventhandler.conf

*cmake_install.cmake
eventhandler/**/Makefile
*CMakeFiles*
CMakeCache.txt
/.idea

.vagrant
ubuntu-*-console.log

/var/
/vendor/
.php_cs.cache
.phpunit.result.cache
nbproject/*
