includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 5
    paths:
        - bin
        - src
        - tests
        - htdocs

    excludePaths:
        - htdocs/libs

    bootstrapFiles:
        - htdocs/inc/init.inc.php
        - htdocs/admin/inc/admin_functions.inc.php

    scanFiles:
        - htdocs/inc/mysqli_polyfill.php
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\Assert#'
        - '#Dynamic call to static method PHPUnit\\Framework\\TestCase#'
        - '#Doctrine\\Common\\Cache\\ArrayCache#'

        - '#Variable \$(twig|cfg|xajax|s|page|resNames|resIcons|index|link|site|app|cu|conf|mode|popup|cp|planets|time) might not be define#'
        - '#Variable \$(css_theme|sub|db_fields) might not be define#'
        - '#Access to (protected|private) property [a-z]+::\$[a-z]+#i'
        - '#Access to an undefined property [a-z]+#i'
        - '#Access to an undefined property \$this\((User|Admin)Session\)#'
        - '#Variable property access on \$this\(#'
        - '#Constant (NEW_MESSAGES|FLOOD_CONTROL|ADMIN_COLOR|RES_BUILD_TIME|CELL_WIDTH|DEF_BUILD_TIME|SHIP_BUILD_TIME|HELP_URL|TYPE_NAME_FLD|REQ_TBL|TYPE_ID_FLD|ITEMS_TBL|ITEM_SHOW_FLD|ITEM_RACE_FLD|ITEM_ORDER_FLD|ITEM_NAME_FLD|ITEM_ID_FLD|NO_ITEMS_MSG|WAR_DURATION|PEACE_DURATION|NICK_MINLENGHT|PASSWORD_MINLENGHT|XAJAX_FUNCTION|CSS_STYLE|APP_VERSION|GLOBAL_TIME|BUILD_BUILD_TIME|USER_INACTIVE_LONG|USER_INACTIVE_SHOW|NICK_MAXLENGHT|MAX_UMOD_TIME|MIN_UMOD_TIME|IMAGE_PATH|IMAGE_EXT|FLEET_FACTOR_L|FLEET_FACTOR_S|FLEET_FACTOR_F|NEW_MESSAGES|USER_ATTACK_MIN_POINTS|USER_ATTACK_PERCENTAGE|FLEET_ACTION_SHIP|FLEET_ACTION_RESS|INVADE_ACTIVE_USER|SESSION_NAME|DB_TABLE_ID|DATE_FORMAT|DB_OVERVIEW_ORDER_FIELD|DB_TABLE|URL_SEARCH_STRING|MODUL_NAME|ITEM_ENABLE_FLD|TITLE|URL_SEARCH_STRING|DB_TABLE_SORT|DB_TABLE_SORT_PARENT|ADMIN_FILESHARING_DIR|USER_HMODE_DEFAULT_TIME|USER_BLOCKED_DEFAULT_TIME) not found#'
        - '#Constant (MARKET_RATE_MAX|MARKET_RATE_MIN|MARKET_LEVEL|MARKET_TAX|AUCTION_DELAY_TIME|AUCTION_PRICE_FACTOR_MAX|AUCTION_PRICE_FACTOR_MIN|AUCTION_MIN_DURATION|SHIP_PRICE_FACTOR_MIN|SHIP_PRICE_FACTOR_MAX|MARKET_SELL_TAX|RESS_PRICE_FACTOR_MIN|RESS_PRICE_FACTOR_MAX|MIN_MARKET_LEVEL_SHIP|MIN_MARKET_LEVEL_AUCTION|MIN_MARKET_LEVEL_RESS|MARKET_RATES_COUNT|AUCTION_OVERBID|AUCTION_OVERBID|MARKET_FOOD_FACTOR|MARKET_FUEL_FACTOR|MARKET_PLASTIC_FACTOR|MARKET_CRYSTAL_FACTOR|MARKET_METAL_FACTOR) not found#'


        - '#Call to method (script|addScript|assign|addAssign|append|alert|addScriptCall|getXML)\(\) on an unknown class xajaxResponse#'
        - '#Call to method (configure|processRequest)\(\) on an unknown class xajax#'
        - '#Instantiated class (xajax|xajaxResponse) not found#'
