parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: bin/cronjob.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|null given\\.$#"
			count: 1
			path: htdocs/admin/content/cronjob.php

		-
			message: "#^Variable \\$iparr might not be defined\\.$#"
			count: 6
			path: htdocs/admin/content/user/multi.inc.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: htdocs/admin/inc/admin_functions.inc.php

		-
			message: "#^Variable \\$lastWave might not be defined\\.$#"
			count: 1
			path: htdocs/admin/inc/admin_functions.inc.php

		-
			message: "#^Variable \\$waveCnt might not be defined\\.$#"
			count: 2
			path: htdocs/admin/inc/admin_functions.inc.php

		-
			message: "#^Variable static method call on string\\.$#"
			count: 2
			path: htdocs/admin/inc/advanced_forms.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: htdocs/admin/inc/form_functions.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 2
			path: htdocs/admin/inc/form_functions.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: htdocs/admin/inc/xajax_admin.inc.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/classes/buildlistitem.class.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: htdocs/classes/buildlistitem.class.php

		-
			message: "#^Right side of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/classes/fleetlaunch.class.php

		-
			message: "#^Variable \\$x might not be defined\\.$#"
			count: 1
			path: htdocs/classes/planetmanager.class.php

		-
			message: "#^Method Report\\:\\:find\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: htdocs/classes/report.class.php

		-
			message: "#^Method Session\\:\\:getInstance\\(\\) should return static\\(Session\\) but returns Session\\.$#"
			count: 1
			path: htdocs/classes/session.class.php

		-
			message: "#^Left side of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/classes/usersession.class.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 2
			path: htdocs/classes/usersession.class.php

		-
			message: "#^Comparison operation \"\\=\\=\" between 0\\|0\\.0\\|''\\|'0'\\|array\\(\\)\\|false\\|null and 0 results in an error\\.$#"
			count: 1
			path: htdocs/content/buildings.php

		-
			message: "#^Variable \\$color might not be defined\\.$#"
			count: 1
			path: htdocs/content/buildings.php

		-
			message: "#^Variable \\$waitArr might not be defined\\.$#"
			count: 1
			path: htdocs/content/buildings.php

		-
			message: "#^Variable \\$starToBeNamed might not be defined\\.$#"
			count: 1
			path: htdocs/content/cell.php

		-
			message: "#^Variable \\$tm might not be defined\\.$#"
			count: 1
			path: htdocs/content/cell.php

		-
			message: "#^Variable \\$cx might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$cy might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$pp might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$sx might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$sy might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: htdocs/content/help.php

		-
			message: "#^Variable \\$cstr might not be defined\\.$#"
			count: 2
			path: htdocs/content/market/new.php

		-
			message: "#^Variable \\$color might not be defined\\.$#"
			count: 1
			path: htdocs/content/research.php

		-
			message: "#^Variable \\$subtitle might not be defined\\.$#"
			count: 1
			path: htdocs/content/research.php

		-
			message: "#^Variable \\$tmtext might not be defined\\.$#"
			count: 1
			path: htdocs/content/research.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: htdocs/inc/bootstrap.inc.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Dynamic call to static method XMLReader\\:\\:open\\(\\)\\.$#"
			count: 2
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Function collect\\(\\) return type with generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection does not specify its types\\: TKey, T$#"
			count: 1
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Variable variables are not allowed\\.$#"
			count: 2
			path: htdocs/inc/functions.inc.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: htdocs/inc/init.inc.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: htdocs/inc/xajax.inc.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: htdocs/inc/xajax/global.xajax.php

		-
			message: "#^Variable property access on EtoA\\\\User\\\\UserBattleRating\\|EtoA\\\\User\\\\UserDiplomacyRating\\|EtoA\\\\User\\\\UserTradeRating\\.$#"
			count: 1
			path: htdocs/inc/xajax/stats.xajax.php

		-
			message: "#^Variable \\$x might not be defined\\.$#"
			count: 1
			path: htdocs/misc/alliance_stats.image.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/misc/map.image.php

		-
			message: "#^Variable \\$s in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: htdocs/misc/map.image.php

		-
			message: "#^Variable \\$rates might not be defined\\.$#"
			count: 1
			path: htdocs/misc/market.image.php

		-
			message: "#^Variable \\$x might not be defined\\.$#"
			count: 1
			path: htdocs/misc/stats.image.php

		-
			message: "#^Method EtoA\\\\Alliance\\\\AllianceRepository\\:\\:findBuildings\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Alliance/AllianceRepository.php

		-
			message: "#^Method EtoA\\\\Building\\\\BuildingRepository\\:\\:fetchBuildingListEntry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Building/BuildingRepository.php

		-
			message: "#^Method EtoA\\\\Building\\\\BuildingRepository\\:\\:findByFormData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Building/BuildingRepository.php

		-
			message: "#^Method EtoA\\\\Ranking\\\\UserBannerService\\:\\:createUserBannerImage\\(\\) never returns GdImage so it can be removed from the return typehint\\.$#"
			count: 1
			path: src/Ranking/UserBannerService.php

		-
			message: "#^Return typehint of method EtoA\\\\Ranking\\\\UserBannerService\\:\\:createUserBannerImage\\(\\) has invalid type GdImage\\.$#"
			count: 1
			path: src/Ranking/UserBannerService.php

		-
			message: "#^Method EtoA\\\\UI\\\\EntityCoordinatesSelector\\:\\:parse\\(\\) has parameter \\$parameters with no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\ParameterBag\\.$#"
			count: 1
			path: src/UI/EntityCoordinatesSelector.php

