includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 5
    paths:
        - bin
        - src
        - tests

    bootstrapFiles:
        - htdocs/inc/init.inc.php

    scanFiles:
        - htdocs/inc/mysqli_polyfill.php
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\Assert#'
        - '#Dynamic call to static method PHPUnit\\Framework\\TestCase#'
        - '#Doctrine\\Common\\Cache\\ArrayCache#'
