parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: bin/cronjob.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|null given\\.$#"
			count: 1
			path: htdocs/admin/content/cronjob.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: htdocs/admin/content/db/maintenance.inc.php

		-
			message: "#^Variable \\$sortOrder might not be defined\\.$#"
			count: 2
			path: htdocs/admin/content/home/stats.inc.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: htdocs/admin/content/logs.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: htdocs/admin/content/logs.php

		-
			message: "#^Undefined variable\\: \\$res$#"
			count: 3
			path: htdocs/admin/content/logs.php

		-
			message: "#^Variable \\$mail might not be defined\\.$#"
			count: 1
			path: htdocs/admin/content/messages.php

		-
			message: "#^Variable \\$reply might not be defined\\.$#"
			count: 1
			path: htdocs/admin/content/messages.php

		-
			message: "#^Variable \\$iparr might not be defined\\.$#"
			count: 6
			path: htdocs/admin/content/user/multi.inc.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: htdocs/admin/inc/admin_functions.inc.php

		-
			message: "#^Undefined variable\\: \\$total$#"
			count: 3
			path: htdocs/admin/inc/admin_functions.inc.php

		-
			message: "#^Variable \\$lastWave might not be defined\\.$#"
			count: 1
			path: htdocs/admin/inc/admin_functions.inc.php

		-
			message: "#^Variable \\$waveCnt might not be defined\\.$#"
			count: 2
			path: htdocs/admin/inc/admin_functions.inc.php

		-
			message: "#^Variable static method call on string\\.$#"
			count: 2
			path: htdocs/admin/inc/advanced_forms.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: htdocs/admin/inc/form_functions.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 2
			path: htdocs/admin/inc/form_functions.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: htdocs/admin/inc/xajax_admin.inc.php

		-
			message: "#^Call to an undefined method BuildList\\:\\:getBuildTime\\(\\)\\.$#"
			count: 1
			path: htdocs/classes/buildlist.class.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/classes/buildlistitem.class.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: htdocs/classes/buildlistitem.class.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|null given\\.$#"
			count: 2
			path: htdocs/classes/dbmanager.class.php

		-
			message: "#^Right side of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/classes/fleetlaunch.class.php

		-
			message: "#^Variable \\$x might not be defined\\.$#"
			count: 1
			path: htdocs/classes/planetmanager.class.php

		-
			message: "#^Method Report\\:\\:find\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: htdocs/classes/report.class.php

		-
			message: "#^Method Session\\:\\:getInstance\\(\\) should return static\\(Session\\) but returns Session\\.$#"
			count: 1
			path: htdocs/classes/session.class.php

		-
			message: "#^Variable \\$tarr might not be defined\\.$#"
			count: 2
			path: htdocs/classes/users.class.php

		-
			message: "#^Left side of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/classes/usersession.class.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 2
			path: htdocs/classes/usersession.class.php

		-
			message: "#^Comparison operation \"\\>\" between 2\\|3\\|4\\|5\\|6 and 0 is always true\\.$#"
			count: 2
			path: htdocs/content/alliance/diplomacy.inc.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: htdocs/content/allianceboard.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 2
			path: htdocs/content/allianceboard.php

		-
			message: "#^Variable \\$alliance_bnd_id might not be defined\\.$#"
			count: 4
			path: htdocs/content/allianceboard.php

		-
			message: "#^Variable \\$arr might not be defined\\.$#"
			count: 2
			path: htdocs/content/allianceboard.php

		-
			message: "#^Variable \\$bnd_id might not be defined\\.$#"
			count: 1
			path: htdocs/content/allianceboard.php

		-
			message: "#^Variable \\$tarr might not be defined\\.$#"
			count: 2
			path: htdocs/content/allianceboard.php

		-
			message: "#^Comparison operation \"\\=\\=\" between 0\\|0\\.0\\|''\\|'0'\\|array\\(\\)\\|false\\|null and 0 results in an error\\.$#"
			count: 1
			path: htdocs/content/buildings.php

		-
			message: "#^Variable \\$color might not be defined\\.$#"
			count: 1
			path: htdocs/content/buildings.php

		-
			message: "#^Variable \\$waitArr might not be defined\\.$#"
			count: 1
			path: htdocs/content/buildings.php

		-
			message: "#^Variable \\$starToBeNamed might not be defined\\.$#"
			count: 1
			path: htdocs/content/cell.php

		-
			message: "#^Variable \\$tm might not be defined\\.$#"
			count: 1
			path: htdocs/content/cell.php

		-
			message: "#^Variable \\$cx might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$cy might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$pp might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$sx might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Variable \\$sy might not be defined\\.$#"
			count: 1
			path: htdocs/content/crypto.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: htdocs/content/help.php

		-
			message: "#^Variable \\$cstr might not be defined\\.$#"
			count: 2
			path: htdocs/content/market/new.php

		-
			message: "#^Variable \\$heal_tech_level might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Variable \\$heal_tech_name might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Variable \\$shield_tech_level might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Variable \\$shield_tech_name might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Variable \\$structure_tech_level might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Variable \\$structure_tech_name might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Variable \\$weapon_tech_level might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Variable \\$weapon_tech_name might not be defined\\.$#"
			count: 2
			path: htdocs/content/planetoverview.php

		-
			message: "#^Foreach overwrites \\$bid with its key variable\\.$#"
			count: 1
			path: htdocs/content/research.php

		-
			message: "#^Variable \\$color might not be defined\\.$#"
			count: 1
			path: htdocs/content/research.php

		-
			message: "#^Variable \\$subtitle might not be defined\\.$#"
			count: 1
			path: htdocs/content/research.php

		-
			message: "#^Variable \\$tmtext might not be defined\\.$#"
			count: 1
			path: htdocs/content/research.php

		-
			message: "#^Variable \\$sl might not be defined\\.$#"
			count: 1
			path: htdocs/content/techtree.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: htdocs/inc/bootstrap.inc.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Dynamic call to static method XMLReader\\:\\:open\\(\\)\\.$#"
			count: 2
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Function collect\\(\\) return type with generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection does not specify its types\\: TKey, T$#"
			count: 1
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: htdocs/inc/functions.inc.php

		-
			message: "#^Variable variables are not allowed\\.$#"
			count: 2
			path: htdocs/inc/functions.inc.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: htdocs/inc/init.inc.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: htdocs/inc/xajax.inc.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: htdocs/inc/xajax/global.xajax.php

		-
			message: "#^Variable \\$x might not be defined\\.$#"
			count: 1
			path: htdocs/misc/alliance_stats.image.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: htdocs/misc/map.image.php

		-
			message: "#^Variable \\$s in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: htdocs/misc/map.image.php

		-
			message: "#^Variable \\$user might not be defined\\.$#"
			count: 1
			path: htdocs/misc/map.image.php

		-
			message: "#^Variable \\$rates might not be defined\\.$#"
			count: 1
			path: htdocs/misc/market.image.php

		-
			message: "#^Variable \\$x might not be defined\\.$#"
			count: 1
			path: htdocs/misc/stats.image.php

		-
			message: "#^Method EtoA\\\\Alliance\\\\AllianceRepository\\:\\:findBuildings\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Alliance/AllianceRepository.php

		-
			message: "#^Method EtoA\\\\Alliance\\\\AllianceRepository\\:\\:findTechnologies\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Alliance/AllianceRepository.php

		-
			message: "#^Method EtoA\\\\Building\\\\BuildingRepository\\:\\:fetchBuildingListEntry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Building/BuildingRepository.php

		-
			message: "#^Method EtoA\\\\Building\\\\BuildingRepository\\:\\:findByFormData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Building/BuildingRepository.php

