body	{
	background:#000;
	color:#fff;
	font-family:arial;
	font-size:9pt;
	margin:0px;
	padding:0px;
}

input,select	{
	border:1px solid #fff;
	background:#111;
	color:#fff;
}

input[type='button'],input[type='submit']	{
	background:#223;	
	font-weight:bold;
  cursor:pointer;
}

#tabs {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:45px;
}

.ui-widget, div.chatmsg, div.serverMessage {
  font-size: 1em;
}

.ui-widget-content { 
  border: none;
}

.ui-widget-header { 
  border-top: none;
  border-left: none;
  border-right: none; 
}

#chatitems	{ 
  border-radius:2px;
  padding:5px;	
  margin-top:2px;	
  background:black;
  overflow:auto;
  vertical-align:middle;
  font-family: Verdana, Arial, sans-serif;
}

#chatitems img {
  vertical-align:middle;
  margin-right:3px;
}

#chatitems .systemMessage {
  color:#777;
}

#chatitems .serverMessage {
 color:#aaa;
}

#chatitems .adminMessage {
 color:#ff8;
 font-weight:bold;
}

#chatitems a {
  color:#fff;
}

#userlist	{
  padding:5px 10px;
}

#userlist a	{
	color:#fff;
}

#loading	{ 
	position:fixed;
	left:0px;
	right:0px;
	bottom:35px;
  height:16px;
  background:black;
  color:#fff;
  overflow:hidden;
  vertical-align:middle;
}

#loadingAnimation { 
  display:inline-block;
  width:20px;
}

#loadingAnimation img { 
  vertical-align:middle;
}

#loading span { 
  vertical-align:middle;
}

#chatinput	{
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	background:#225;
  height:20px;
	padding:5px 5px 10px 5px;
}

#ctext {
  width:250px;
}

#unread{
  float: right;
  padding: 0 0.5em;
  color: lime;
  z-index: 10;
  position: fixed;
  right: 0;
  /* should be #loading bottom +1px */
  bottom: 36px;
  /* not transparent, so it hides oversized msgFail text below */
  background-color: inherit;
}

