/*--------------------------------------------
/ Definitions for publicly available sites   /
--------------------------------------------*/

body	{
	text-align:left;
	margin:0px;
}

h1	{
	padding-bottom: 20px;
	text-align: center;
}

p.center {
	text-align: center;
}

#outGameContent	{
	margin: 80px auto 10px;
	width: 800px;	
}

/*
* Tables
*/

table.tb.boxLayout {
	width: 100%!important;
}

table.tb td , table.tb th{
	vertical-align: middle;
}

/*
* Forms
*/

.styled-form {
	margin:0px auto;
}

.styled-form-medium {
	width:570px;
}

.styled-form label {
	display: inline-block;
	text-align: right;
}

.styled-form label:after {
	content:':';
}

.styled-form-medium  label {
	width: 120px;
}

.styled-form-medium .form-buttons, 
.styled-form-medium .form-text {
	padding-left: 125px;
}