
img	{
	border:none;
}

.imgcell, .tb .imgcell	{
	padding:0px;
}

.imgcell img, .tb .imgcell	img {
	display:block;
}

.goodcolor, .tb .goodcolor	{
	color:#0f0;
}

.badcolor, .tb .badcolor	{
	color:#f50;
}

/* Search-Box */

.search	{
	background: #000 url('../images/search.png') 2px 1px no-repeat;
	padding-left:20px;
}

.search:focus	{
	background: #222 url('../images/search.png') 2px 1px no-repeat;
	padding-left:20px;
}
      
/* BB-Code Items */      

.bbtable td	{
	padding:2px;
}
.bbtable th	{
	padding:2px;
}
     
/* Resource display */                         
                              
img.resIcon	{
	float:left;
	margin-right:5px;
}

#resbox	span	{
	padding-right:5px;
}

.resBoxTitleCell	{
	vertical-align:middle;
	height:20px;
}

.resBoxTitleCell div	{
	height:100%;
}




/* Message-Boxes */

.errorBox	{
	border:1px #f00 solid;
	padding:5px;
	background:#baa;
	color:#400;
	width:90%;
	margin:0px auto;
	margin-top:15px;
	margin-bottom:15px;
}

.errorBox	h2 {
	margin:0px 0px 10px 0px;
	border:1px #f00 solid;
	color:#500;
	background:#fcc;
	padding:10px;
	font-size:12pt;
}

.errorBox	h2:before	{
	content:none;
}

.errorBox	h2:after	{
	content:none;
}

.successBox	{
	border:1px #0f0 solid;
	padding:5px;
	background:#aba;
	color:#040;
	width:90%;
	margin:5px auto;
	margin-bottom:15px;
}

/* Misc */

.numbers	{
	text-align:right;
}


.infoLog	{
	border-bottom:1px solid #556;
	padding:3px 0px 5px 0px;
	text-align:left;
}

.infoLog span	{
 color:#aaa;
 font-size:7pt;
 padding-left:15px;
 padding-right:5px;
 white-space : nowrap;
}

.twoColumnList	{
  overflow:auto;
}

.twoColumnList ul	{
	width:49%;
  display:inline;
  float:left;
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.twoColumnList ul	li {
	margin:0px;
	padding:5px;
}

/* todo */

#market_search_filter_category_selector	{
	float:left;
	margin-right:20px;
}

#market_search_filter_container_res	{
	float:left;
}

#market_search_filter_container_res	span {
	float:left;
	padding-top:3px;
	padding-right:3px;
	font-weight:bold;
	width:100px;
}

#market_search_filter_container_res	br {
	clear:both;
}

#market_search_filter_container_res input[type="checkbox"]	{
	display:block;
	float:left;
}

#market_search_filter_container_res label	 {
	display:block;
	float:left;
	width:50px;
	padding-top:3px;
	padding-left:3px;
	cursor:pointer;
}



ul.horizMenu	{
	list-style-type:none;
	text-align:center;
	background:#225;
	border:1px solid #fff;
	padding:5px;
}

.horizMenu li	{
	float:left;
	padding:0px 5px;
}

.horizMenu li a	{
	text-decoration:none;
	font-weight:bold;
}

.horizMenu li a:hover	{
	text-decoration:none;
	font-weight:bold;
	color:#aaa;
}

ul.horizMenu:after	{
	content:'.';
	visibility:hidden;
	clear:both;
}

table.battleTable, table.battleTable tr, table.battleTable tr td  {
    border:none;
}

table.battleTable {
    margin:0 auto;
}

#chatPreview {
	float:right;
	padding: 5px 20px;
	background-color:#000;
}

#shiplist  {
  position:absolute;
  z-index:10;
  border:1px #ccc solid;
  border-top:none;
  border-bottom:none;
  background:#223;
  padding:0px;
  display:none;
}

#shiplist ul  {
  padding:0 10px 0 10px;
  margin:0;
}

#shiplist li  {
  list-style:none;
  padding-left:0;
}

#shiplist a  {
  text-decoration:none;
  color:#aaa;
  display:block;
  padding:5px;
  border-bottom:1px solid #fff;
}
#shiplist a:hover {
  color:#fff;
  background:#225;
}
