{% extends 'game/alliance/allianceboard/allianceboard.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block allianceboard %}
    {% if msg.success is defined %}
        {{ macros.successMessage(msg.success) }}
    {% endif %}

    <h2>Kategorie bearbeiten</h2>
    {{ include('game/alliance/allianceboard/allianceboard_category.html.twig') }}
{% endblock %}