{% extends 'layout/external.html.twig' %}

{% block content %}
    <h1>Fehler</h1>
    Der Seitenname enth&auml;lt unerlaubte Zeichen!
    <br/>
    <br/>
    <a href="javascript:window.close();">Schliessen</a>
    <br/>
    <br/>
{% endblock %}
