{% extends 'layout/external.html.twig' %}

{% block content %}
    {% if invalidKey %}
        <p>Falscher Schl端ssel!</p>
        <br/>
        <br/>
    {% endif %}
    <h1>Zugang erfordert Schl端ssel</h1>
    <form action="?index="{{ page }}" method="post">
        Bitte Schl端ssel eingeben: <input type="text" value="" name="reg_key_auth_value" required /> &nbsp;
        <input type="submit" value="Pr端fen" name="reg_key_auth_submit" />
    </form>
{% endblock %}
