{% set title='Kontakt' %}

{% extends 'layout/external.html.twig' %}

{% block content %}
    {{ contactContent|raw }}
    <p class="center"><a href="{{ path('external.login') }}">Zurück zum Login</a></p>
{% endblock %}
