{% set title='Zugang erfordert Schlüssel' %}

{% extends 'layout/external.html.twig' %}

{% block content %}
    <form action="{{ currentUrl }}" method="post">
        <label for="reg_key_auth_value">Bitte Schlüssel eingeben:</label>
        <input type="text" value="" name="reg_key_auth_value" id="reg_key_auth_value" required autofocus
               autocomplete="off"/> &nbsp;
        <input type="submit" value="Prüfen" name="reg_key_auth_submit"/>
    </form>
{% endblock %}
