{% set title='Bestätigung der E-Mail Adresse' %}

{% extends 'layout/external.html.twig' %}

{% block content %}
    <p class="center">
        {% if success %}
            <a href="{{ path('external.login') }}" class="button">Zum Login</a>
        {% else %}
            Wenn du Hilfe benötigst, kannst du <a
                href="{{ path('external.contact') }}">hier</a> einen Game-Admin kontaktieren.
        {% endif %}
    </p>
{% endblock %}
