{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Berichte</h1>

    {{ component('admin_report_search', {
        form: form
    }) }}

    <p>Es sind {{ formatNumber(total) }} Einträge in der Datenbank vorhanden.</p>
{% endblock %}
