#statsBox > table {
    border-collapse: separate;
    border-spacing: 0.25rem;
}

#statsBox > table,
#statsBox > table > tbody > tr > td {
    border: none;
}

#statsBox table table {
    margin: 0;
}

#statsBox h2 {
    margin-top: 4rem;
}

#statsBox > p > img {
    max-width: 100%;
}