@import url("reset.css");

@import url("../../../web/css/game.css");

@import url("fonts.css");
@import url("colors.css");

@import url("styles/background.css");
@import url("styles/border.css");
@import url("styles/color.css");
@import url("styles/display.css");
@import url("styles/font-family.css");
@import url("styles/font-size.css");
@import url("styles/height.css");
@import url("styles/line-height.css");
@import url("styles/list-style-type.css");
@import url("styles/margin.css");
@import url("styles/padding.css");
@import url("styles/text-alignment.css");
@import url("styles/text-decoration.css");
@import url("styles/width.css");

@import url("galaxie.css");
@import url("tutorial.css");
@import url("reloader.css");
@import url("nav-common.css");
@import url("nav-top.css?r=3");
@import url("nav-main.css");
@import url("nav-mobile.css");
@import url("game.css");
@import url("inputs.css");
@import url("uebersicht.css");
@import url("bauhof.css");
@import url("schiffswerft.css");
@import url("verteidigungsanlagen.css");
@import url("planetinfo.css");
@import url("stats.css");
@import url("techtree.css");
@import url("messages.css");

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background-image: url("images/background_medium.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  border: none;
}

div {
  box-sizing: border-box;
}

#app {
  position: relative;
}

#contentwrap {
  padding-bottom: env(safe-area-inset-bottom, 0);
  margin-bottom: 2rem;
}

#app[data-interactable="false"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 99;
  background-color: black;
  opacity: 0.4;
}


@media (min-width:1450px) {
  body {
    background-image: url("images/background_large.jpg");
    background-position: 0 0;
    background-size: auto 100%;
  }

  #contentwrap {
    min-width: 60rem;
  }
}

@media screen and (max-width: 600px) {
  #game-area {
    overflow-x: auto;
  }
  .resBoxTable{
    table-layout: fixed;
    max-width: 100%;
  }
  .resBoxTable th{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .resBoxTable td{
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
