body {
	background-image: url(images/Hintergrund.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: contain;
	background-color: black;
	color: white;
	margin:20px;
	font-family:verdana, sans-serif, arial;
	font-size: 10pt;
}

/*
Fix for PNG-Files
img, div { behavior: url(scripts/iepngfix.htc) }
*/

a	{
	color: white;
	text-decoration:underline;
	background:none;
}

a:hover	{
	color: #ffffff;
	text-decoration:none;
	background:none;
}

h1	{
	font-size:11pt;
	text-align:center;
}

h1:before	{
	content:":: ";
}

h1:after	{
	content:" ::";
}

h2	{
	font-size:10pt;
	text-align:center;
}

h2:before	{
	content:": ";
}

h2:after	{
	content:" :";
}

table	{
	border-collapse:collapse;
}

/* Wenn sich der cursor in einem text feld befindet... */
/* Internet Explorer unterst�tzt diese funktion nicht!!!*/
input:focus,textarea:focus, select:focus {
  border: 1px #ffffff solid;
  background:#000000;
}

/*Definiert die Buttons bei "bauhof" oder "forschung", hintergrund sollte der selbe wie tbldata sein*/
button	{
	background:#000000 url('images/cellpic3.gif');
	border:none;
	cursor:pointer;
}

/* Definiert die verschieden button typen im normal zustand */
/* Internet Explorer unterst�tzt diese funktion nicht!!!*/
input[type="submit"],input[type="reset"],input[type="button"]	{
	background:#222255 url('images/button1.jpg');
	color:#fff;
	font-weight:bold;
}

/* Definiert die verschieden button typen im hover zustand */
/* Internet Explorer unterst�tzt diese funktion nicht!!!*/
input:hover[type="submit"],input:hover[type="reset"],input:hover[type="button"]	{
	background:#222255 url('images/button2.jpg');
	color:#fff;
	font-weight:bold;
}

input,select,textarea	{
	border:solid #fff 1px;
	font-family:arial;
	font-size:10pt;
	background:#000;
	color:#fff
}

#layoutbox	{
	width:80%;
	margin:0px auto;
	background:#6e7591;
	font-size:10pt;
	vertical-align:top;
	border:1px solid #fff;
}

#topbar	{
 	text-align:right;
 	padding-right:10px;
 	background:#424962;
 	height:19px;
	border:1px solid #fff;
}

#topbar a {
	text-decoration:none;
	font-weight:bold;
}

#topbar a:hover {
	text-decoration:none;
	color:#aaa;
	font-weight:bold;
}

#logo	{
	background:#000 url('../../images/logo.jpg') no-repeat;
	width:175px;
	height:72px;
	border:1px solid #fff;
}

#banner	{
	text-align:center;
	background:#000 url('../../images/banner.jpg') no-repeat;
	height:72px;
	border:1px solid #fff;
}

#selectbar	{
	background:#222;
	width:175px;
}

#selectbar select {
	width:175px;
	background:#222;
	color:#fff;
}


#middlebar	{
	background:#6e7591;
	height:21px;
	border:1px solid #fff;
	border-right:none;
	padding-left:15px;
}

#clockbar	{
	background:#6e7591;
	width:350px;
	padding-left:8px;
	border:1px solid #fff;
	height:21px;
	border-left:none;
	text-align:right;
}

#content	{
	background:#9198ab;
	background:#606578;
	height:450px;
	vertical-align:top;
	padding:4px 10px 10px 10px;
	border:1px solid #fff;
	text-align:center;
}

#copy	{
	background:#646b84;
	border:1px solid #fff;
	padding-left:8px;
}

#bottombar	{
	padding-top:4px;
	padding-right:4px;
	text-align:right;
	background:#646b84;
	height:25px;
	vertical-align:top;
}

#menu1	{
	padding:0px 0px 40px 0px;
	background:#6e7591;
	width:175px;
	vertical-align:top;
	border:1px solid #fff;
}

#menu1 div {
	font-weight:bold;
	background:#225;
	color:#fff;
	text-decoration:none;
	width:175px;
	padding: 2px 2px 2px 8px;
	margin: 0px auto;
	border-bottom:solid 1px #e6e6e6;
	border-top:none;
	height:16px;
}

#menu1 a {
	display: block;
	background:#626b84;
	color:#eee;
	text-decoration:none;
	width:175px;
	padding: 2px 2px 2px 8px;
	margin: 0px auto;
	border-bottom:solid 1px #e6e6e6;
}

#menu1 a:hover {
	background-color:silver;
	color: #445543;
	text-decoration:none;
	border-bottom:solid 1px #e6e6e6;
}


.tbltitle {
	font-size:10pt;
	font-weight:bold;
	border:1px solid #fff;
	background:#000000 url('images/cellpic4.gif');
	padding:2px;
	vertical-align:top;
	text-align:left;
}

.tbldata {
	font-size:8pt;
	color:#fff;
	border:1px solid #fff;
	background:#000000 url('images/cellpic3.gif');
	padding:3px;
	vertical-align:top;
	text-align:left;
}

/* Ressourcen Speicher voll / Bewohner -> farbe wenn geb�ude baut */
/* rest muss gleich wie .tbldata sein! */
.tbldata2 {
	font-size:8pt;
	color:red;
	border:1px solid #ffffff;
	background:#000000 url('images/cellpic3.gif');
	padding:3px;
	vertical-align:top;
	text-align:left;
}

/* Energie wenn sie Positiv ist (standart ist hellgr�n) */
/* rest muss gleich wie .tbldata sein! */
.tbldata3 {
	font-size:8pt;
	color:#0f0;
	border:1px solid #ffffff;
	background:#000000 url('images/cellpic3.gif');
	padding:3px;
	vertical-align:top;
	text-align:left;
}

.tblblack {
	font-size:8pt;
	color:#fff;
	border:1px solid #fff;
	background:#000;
}

/* Allgemeine Tabellen definition welche gestreckt ist (infobox_start("",1)) */
.tbl	{
	width:100%;
	margin:0px auto;
	border:1px solid #ffffff;
}

.tblc	{
	margin:0px auto;
	border:1px solid #ffffff;
}

div.infoboxtitle	{
	width:99%;
	font-size:10pt;
	font-weight:bold;
	border:1px solid #fff;
	background:#225 url(images/cellpic.gif);
	padding:4px;
	text-align:center;
}

td.infoboxtitle	{
	font-size:10pt;
	font-weight:bold;
	background:#225 url(images/cellpic.gif);
	padding:4px;
	text-align:center;
}

div.infoboxcontent {
	width:99%;
	font-size:8pt;
	color:#fff;
	border: none;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background:#225 url(images/cellpic3.gif);
	padding:4px;
}

a.tabEnabled	{
	padding-top:5px;
	display:block;
	width:100%;
	height:100%;
	background:#225 url(images/tabulator_active.gif);
	color:#fff;
	text-align:center;
	text-decoration:none;
}

a.tabEnabled:hover	{
	text-decoration:none;
	background:#225 url(images/tabulator_selhilight.gif);
}

a.tabDefault	{
	padding-top:5px;
	display:block;
	width:100%;
	height:100%;
	background:#225 url(images/tabulator.gif);
	color:#ddd;
	text-align:center;
	text-decoration:none;
}

a.tabDefault:hover	{
	background:#225 url(images/tabulator_hilight.gif);
	color:#ddd;
	text-decoration:none;
}

.statsTab	{
	/*width:120px;*/
	height:20px;
	border:1px solid #fff;
	margin:0px;
	padding:0px;
}


table.statsNav	{
	width:99%;
	border:1px solid #fff;
	margin:0px auto;
}

td.statsNav	{
	text-align:center;
	width:120px;
	background:#000000 url('images/tabulator.gif');
}

.spaceCell {
	border: solid 1px #111;
	padding:0px;
	vertical-align:middle;
	text-align:center;
}

.spaceCellUser	{
	border: solid 2px #4f4;
	vertical-align:middle
	;text-align:center;
}

.spaceCellSelected	{
	border: solid 2px #ef4;
	vertical-align:middle;
	text-align:center;
}

td.coordstbl	{
	border:0px;
	background:#000000 url('../../images/empty_space.gif');
	vertical-align:middle;
	text-align:center;
	width:40px;
	height:40px;
}

table#outerspacetbl {
	margin:0px auto;
	border-collapse:collapse;
	padding:0px;
}

table#innerspacetbl {
	border:0px solid #fff;
	background:#000;
}




/** Übersicht -> planetenliste
 \"Courier New\", Courier, mono; */

.PlaniTextLinks {
	color: #FFFFFF;
	font-family: "Arial", Courier, mono;
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
}
.PlaniTextRechts {
	color: #FFFFFF;
	font-family: "Arial", Courier, mono;
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
}
.PlaniTextOben {
	color: #FFFFFF;
	font-family: "Arial", Courier, mono;
	font-size: 11px;
	text-align: center;
	vertical-align: bottom;
}

.PlaniTextCenter {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterPlanetname {
	color: #FFFFFF;
	font-family: "SF Chaerilidae";
	font-size: 20px;
	text-align: center;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterBeschreibung {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: right;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterRessourcen {
	color: #FFFFFF;
	font-family: "SF Chaerilidae";
	font-size: 16px;
	text-align: center;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterStore {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterPower {
	color: #0f0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	vertical-align: baseline;
	font-weight: lighter;
}




/** Definition des ganzen Layouts */

div.Menueleiste-09_ {
	position:absolute;
	left:6px;
	top:73px;
	width:10px;
	height:145px;
}

div.Menueleiste-17_ {
	position:absolute;
	left:16px;
	top:141px;
	width:71px;
	height:6px;
}

div.platzhalter-planeten_ {
	position:absolute;
	left:28px;
	top:147px;
	width:218px;
	height:23px;
	background-color:#000000;
	text-align:left;
	vertical-align:middle;
}

div.pb-dropdownplanets_ {
	position:absolute;
	left:53px;
	top:170px;
	width:34px;
	height:35px;
}

div.Menueleiste-28_ {
	position:absolute;
	left:0px;
	top:218px;
	width:14px;
	height:437px;
}

div.Menueleiste-29_ {
	position:absolute;
	left:14px;
	top:218px;
	width:30px;
	height:48px;
}

div.Menueleiste-31_ {
	position:absolute;
	left:263px;
	top:218px;
	width:15px;
	height:550px;
}

div.Menueleiste-37_ {
	position:absolute;
	left:14px;
	top:266px;
	width:30px;
	height:36px;
}

div.Menueleiste-40_ {
	position:absolute;
	left:14px;
	top:302px;
	width:30px;
	height:176px;
}

div.Menueleiste-49_ {
	position:absolute;
	left:14px;
	top:478px;
	width:30px;
	height:30px;
}

div.Menueleiste-54_ {
	position:absolute;
	left:44px;
	top:533px;
	width:164px;
	height:2px;
}

div.Menueleiste-60_ {
	position:absolute;
	left:0px;
	top:655px;
	width:16px;
	height:71px;
}

div.Menueleiste-69_ {
	position:absolute;
	left:16px;
	top:749px;
	width:75px;
	height:19px;
}

div.Menueleiste-70_ {
	position:absolute;
	left:188px;
	top:749px;
	width:75px;
	height:19px;
}
.Stil1 {color: #FFFFFF}

body {
	background-color: #000000;
	background-attachment: fixed;
}

.Stil2 {font-family:verdana, sans-serif, arial;}

.Stil3 {font-size: 36px}


/* .Stil4 {font-size: 9px} */

.Stil6 {
	font-size: 13px;
	font-family:verdana, sans-serif, arial;
}


#planetDropDown {
	background:#000;
	color:#fff;
	width:195px;
	position:absolute;
	z-index:0;
	top:175px;
	left:28px;
	visibility:hidden;
	border:1px solid #fff;
}

#planetDropDown	a {
	color:#fff;
	background:#0D0D41 url('images/button1.jpg');
	display:block;
	width:175px;
	text-align:left;
	padding:2px 10px 2px 10px;
	text-decoration:none;
	font-family:arial;
	font-size:9pt;

}

#planetDropDown	a:hover {
	color:#fff;
	background:#0806a3 url('images/button2.jpg');
	display:block;
	width:175px;
	text-align:left;
	padding:2px 10px 2px 10px;
	text-decoration:none;
	font-family:arial;
	font-size:9pt;
}

div.platzhalter-serverzeit_ {
	font-family: "SF Chaerilidae";
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	position:absolute;
	left:140px;
	top:101px;
	width:62px;
	height:18px;
	background-color:#000000;
	background-position: left center;
	text-align:center;
	vertical-align:middle;
}

div.PlanetName {
	position:absolute;
	left:30px;
	top:147px;
	width:218px;
	height:23px;
	font-family: "SF Chaerilidae";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	background-color: #000000;
	background-position: left center;
	text-align:left;
	vertical-align:middle;
}

div.Left_Panel {
	position:absolute;
	left:0px;
	top:0px;
	width:279px;
	height:787px;
}

div.Spielbereich_ {
	position:absolute;
	left:270px;
	top:64px;
	width:714px;
	height:704px;
	text-align:center;
}

div.Toppanel {
	position:absolute;
	left:0px;
	top:0px;
	width:984px;
	height:62px;
}

div.EtoA-Logo_ {
	position:absolute;
	left:0px;
	top:0px;
	width:289px;
	height:62px;
}










div.TopPanel-02_ {
	position:absolute;
	left:289px;
	top:0px;
	width:156px;
	height:42px;
}

div.TopPanel-03_ {
	position:absolute;
	left:445px;
	top:0px;
	width:178px;
	height:42px;
}

div.TopPanel-04_ {
	position:absolute;
	left:623px;
	top:0px;
	width:179px;
	height:42px;
}

div.TopPanel-05_ {
	position:absolute;
	left:802px;
	top:0px;
	width:182px;
	height:42px;
}

div.TopPanel-06_ {
	position:absolute;
	left:289px;
	top:42px;
	width:156px;
	height:22px;
}

div.TopPanel-07_ {
	position:absolute;
	left:445px;
	top:42px;
	width:178px;
	height:22px;
}

div.TopPanel-08_ {
	position:absolute;
	left:623px;
	top:42px;
	width:179px;
	height:22px;
}

div.TopPanel-09_ {
	position:absolute;
	left:802px;
	top:42px;
	width:182px;
	height:22px;
}

div.alert_ {
	position:absolute;
	left:91px;
	top:669px;
	width:97px;
	height:41px;
}

div.pb-notes_ {
	position:absolute;
	left:188px;
	top:669px;
	width:52px;
	height:64px;
}

div.Menueleiste-66_ {
	position:absolute;
	left:91px;
	top:710px;
	width:97px;
	height:56px;
}

div.Menueleiste-68_ {
	position:absolute;
	left:16px;
	top:724px;
	width:75px;
	height:23px;
}

div.Menueleiste-63_ {
	position:absolute;
	left:240px;
	top:653px;
	width:23px;
	height:94px;
}

div.pb-post_ {
	position:absolute;
	left:0px;
	top:653px;
	width:91px;
	height:71px;
}

div.Menueleiste-62_ {
	position:absolute;
	left:91px;
	top:653px;
	width:117px;
	height:16px;
}

div.Menueleiste-59_ {
	position:absolute;
	left:44px;
	top:639px;
	width:164px;
	height:14px;
}

div.Menueleiste-51_ {
	position:absolute;
	left:14px;
	top:216px;
	width:30px;
	height:437px;
}

div.Menueleiste-33_ {
	position:absolute;
	left:208px;
	top:226px;
	width:32px;
	height:443px;
}

div.nb-buddylist_ {
	background:#225;
	position:absolute;
	left:44px;
	top:618px;
	width:164px;
	height:21px;
}

div.Menueleiste-57_ {
	position:absolute;
	left:44px;
	top:597px;
	width:164px;
	height:21px;
}

div.nb-recycling_ {
	background:#225;
	position:absolute;
	left:44px;
	top:576px;
	width:164px;
	height:21px;
}

div.nb-marktplatz_ {
	background:#225;
	position:absolute;
	left:44px;
	top:449px;
	width:164px;
	height:21px;
}

div.nb-forschung_ {
	background:#225;
	position:absolute;
	left:44px;
	top:513px;
	width:164px;
	height:21px;
}

div.nb-verteidigung_ {
	background:#225;
	position:absolute;
	left:44px;
	top:554px;
	width:164px;
	height:21px;
}

div.nb-schiffswerft_ {
	background:#225;
	position:absolute;
	left:44px;
	top:534px;
	width:164px;
	height:21px;
}

div.nb-bauhof_ {
	background:#225;
	position:absolute;
	left:44px;
	top:492px;
	width:164px;
	height:21px;
}

div.Menueleiste-47_ {
	position:absolute;
	left:44px;
	top:470px;
	width:164px;
	height:22px;
}

div.nb-wirtschaft_ {
	background:#225;
	position:absolute;
	left:44px;
	top:365px;
	width:164px;
	height:21px;
}

div.nb-technikbuam_ {
	background:#225;
	position:absolute;
	left:44px;
	top:407px;
	width:164px;
	height:21px;
}

div.nb-schiffshafen_ {
	background:#225;
	position:absolute;
	left:44px;
	top:428px;
	width:164px;
	height:21px;
}

div.nb-informationen_ {
	background:#225;
	position:absolute;
	left:44px;
	top:344px;
	width:164px;
	height:21px;
}

div.nb-bev-lkerung_ {
	background:#225;
	position:absolute;
	left:44px;
	top:386px;
	width:164px;
	height:21px;
}

div.nb-rathaus_ {
	background:#225;
	position:absolute;
	left:44px;
	top:237px;
	width:164px;
	height:21px;
}

div.nb-raumkarte_ {
	background:#225;
	position:absolute;
	left:44px;
	top:258px;
	width:164px;
	height:21px;
}

div.Menueleiste-41_ {
	position:absolute;
	left:44px;
	top:321px;
	width:164px;
	height:23px;
}

div.nb-allianz_ {
	background:#225;
	position:absolute;
	left:44px;
	top:216px;
	width:164px;
	height:21px;
}

div.nb-favoriten_ {
	background:#225;
	position:absolute;
	left:44px;
	top:300px;
	width:164px;
	height:21px;
}

div.nb-flotten_ {
	background:#225;
	position:absolute;
	left:44px;
	top:279px;
	width:164px;
	height:21px;
}

div.Menueleiste-26_ {
	position:absolute;
	left:208px;
	top:200px;
	width:43px;
	height:26px;
}

div.Menueleiste-25_ {
	position:absolute;
	left:251px;
	top:168px;
	width:12px;
	height:58px;
}

div.Menueleiste-23_ {
	position:absolute;
	left:87px;
	top:168px;
	width:121px;
	height:48px;
}

div.pb-planetdropdown_ {
	position:absolute;
	left:208px;
	top:168px;
	width:43px;
	height:32px;
}

div.Menueleiste-27_ {
	position:absolute;
	left:16px;
	top:203px;
	width:71px;
	height:13px;
}

div.Menueleiste_ {
	position:absolute;
	left:263px;
	top:62px;
	width:15px;
	height:154px;
}

div.pb-nextplanet_ {
	position:absolute;
	left:53px;
	top:168px;
	width:34px;
	height:35px;
}

div.pb-previousplanet_ {
	position:absolute;
	left:16px;
	top:168px;
	width:37px;
	height:35px;
}

div.Menueleiste-20_ {
	position:absolute;
	left:246px;
	top:145px;
	width:17px;
	height:23px;
}

div.Menueleiste-18_ {
	position:absolute;
	left:16px;
	top:145px;
	width:12px;
	height:23px;
}

div.Menueleiste-16_ {
	position:absolute;
	left:207px;
	top:122px;
	width:56px;
	height:23px;
}

div.Menueleiste-15_ {
	position:absolute;
	left:140px;
	top:118px;
	width:62px;
	height:27px;
}

div.pb-info_ {
	position:absolute;
	left:207px;
	top:62px;
	width:56px;
	height:60px;
}

div.Menueleiste-12_ {
	position:absolute;
	left:87px;
	top:100px;
	width:53px;
	height:45px;
}

div.Menueleiste-14_ {
	position:absolute;
	left:202px;
	top:100px;
	width:5px;
	height:45px;
}

div.Menueleiste-11_ {
	position:absolute;
	left:87px;
	top:71px;
	width:120px;
	height:29px;
}

div.sp-pb-overview_ {
	position:absolute;
	left:16px;
	top:71px;
	width:71px;
	height:74px;
}

div.Menueleiste-08_ {
	position:absolute;
	left:0px;
	top:71px;
	width:6px;
	height:145px;
}

div.Menueleiste-03_ {
	position:absolute;
	left:0px;
	top:62px;
	width:207px;
	height:9px;
}

div.test_grafik_ {
	position:absolute;
	left:99px;
	top:651px;
	width:97px;
	height:41px;
}