@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/******************
* Layout          *
******************/

body	{
	margin:0px;
	color: black;
	font-family:verdana, sans-serif, Arial;
	font-size: 10pt;
	background:#000 url('../../../images/background.jpg');
	text-align:left;
}

#layoutbox {
	margin: 0px auto 20px;
	padding: 0;
	display: block;
	width:95%;
	min-width:950px;
}

#header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 130px;
	background: url('../../../images/admin/header.png') no-repeat center top;
	position:relative;
	color: white;
}

#logo {
	position: absolute;
	top: 30px;
	left: 10px;
	background: url(../images/admin/logo.png) no-repeat top left;
	cursor: pointer;
}

#slogan {
	position:absolute;
	top:45px;
	left:310px;
	font-size:24pt;
	font-family:'Droid Sans', Verdana, sans-serif;
	text-shadow:#2565B0 2px 2px 3px, 
				#2565B0 -2px 2px 3px, 
				#2565B0 -2px -2px 3px, 
				#2565B0 2px -2px 3px;
}

#headerbar {
	position:absolute;
	top:5px;
	right:5px;
	font-size:9pt;
}

#main {
	background-color: #f8f8f8;
	border-radius:20px;
	box-shadow:#aaa 0px 0px 10px;
	padding-right:10px;
	position:relative;
	min-height:600px;
}

#sidebar	{
	position:absolute;
	top:25px;
	left:0px;
	width: 170px;
	font-size: 0.9em;
	margin-bottom:25px;
	padding:10px 20px 10px 10px;
	background:#ddd;
	border-radius:0 20px 20px 0;
}

#content
{
	margin: 0;
	padding: 0;
	padding-left: 220px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top:19px;
	margin-left:10px;
	font-size: 0.9em;
}

#footer {
	color:#bbb;
	padding: 12px 0 0 0;
	background:none;
	font-size:8pt;
	text-align:center;
}

/******************
* Element Styling *
******************/

a {
	color: black;
	text-decoration:underline;
	background:none;
}

a:hover	{
	color: black;
	text-decoration:none;
	background:none;
}

h1	{
	margin: 6px 0px 10px 0px;
	text-align: left;
	font-size: 20pt;
	font-weight:normal;
	font-family:  'Droid Sans', verdana, sans-serif;
}

h2	{
	font-size:12pt;
	font-weight:normal;
}

h3	{
	font-size:10pt;
}

fieldset	{
	margin:0;
	padding:5px 10px ;
	margin-bottom:10px;
	padding-bottom:20px;
	background:#f1f1f1;
	border:1px solid #BBBBBB;
	border-radius:5px;
}

legend	{
	font-weight:bold;
	font-size:11pt;
	padding:5px;
	font-family: 'Droid Sans', Verdana, sans-serif;
}

/******************
* Forms           *
******************/

input[type="text"], input[type="password"], textarea	{
	padding:3px;
	margin:3px;
	box-shadow:inset 1px 1px 1px #eee;
	font-family: Verdana, sans-serif;
}

input[type="text"], input[type="password"], select, textarea {
	border-width:1px;
	border-style:solid;
	border-color: #e2e3ea;
	border-bottom-color: #e3e9ef;
	border-top-color: #abadb3;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	border-color: #b5cfe7;
	border-bottom-color: #b7d9ed;
	border-top-color: #3d7bad;
	box-shadow:inset 1px 1px 1px #ccc;
}

textarea {
	font-size:10pt;
}

select	{
	padding:3px;
	margin:3px;
}

input[type="submit"], input[type="button"], button, .button {
	-moz-box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
	-webkit-box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
	-o-box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
	box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#e5e5e5;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
	background-image:-moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background-image:linear-gradient(top, #ffffff 0%, #cccccc 100%);
	border:1px solid #aaaaaa;

	font-family: sans-serif;
	font-style: normal;
	font-variant: normal;
	font-size: 13px;
	font-size-adjust: none;
	font-stretch: normal;
	-x-system-font: none;
	line-height: 18px;
	font-weight: bold;
	text-shadow: #ffffff;
	display: inline;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #555555;
	text-align: center;
	position: relative;
	min-height: 19px;
	height: auto;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button:hover {
	cursor:pointer;
	color:#111;
	background-position: 0 0;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
	background-image:linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background-image:-moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
}

@-moz-document url-prefix() {
	input[type="submit"].positive, input[type="button"].positive, button.positive {
		color:#529214;
		background-image: url('../../../images/admin/icons/tick.png'), -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
		background-repeat: no-repeat;
		background-position: 6px 5px, 0px 0px;
		padding-left:25px;
	}
	
	input[type="submit"].positive:hover, input[type="button"].positive:hover, button.positive:hover {
		background-image: url('../../../images/admin/icons/tick.png'), -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	}

	input[type="submit"].negative, input[type="button"].negative, button.negative {
		color:#d12f19;
		background-image: url('../../../images/admin/icons/cross.png'), -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
		background-repeat: no-repeat;
		background-position: 6px 5px, 0px 0px;
		padding-left:25px;
	}

	input[type="submit"].negative:hover, input[type="button"].negative:hover, button.negative:hover {
		background-image: url('../../../images/admin/icons/cross.png'), -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	}
	
	input[type="submit"].add, input[type="button"].add, button.add {
		color:#529214;
		background-image:url('../../../images/admin/icons/add.png'), -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
		background-repeat: no-repeat;
		background-position: 6px 5px, 0px 0px;
		padding-left:25px;
	}
	
	input[type="submit"].add:hover, input[type="button"].add:hover, button.add:hover {
		background-image: url('../../../images/admin/icons/add.png'), -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	}	

	input[type="submit"].remove, input[type="button"].remove, button.remove {
		color:#d12f19;
		background-image:url('../../../images/admin/icons/delete.png'), -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
		background-repeat: no-repeat;
		background-position: 6px 5px, 0px 0px;
		padding-left:25px;
	}
	
	input[type="submit"].remove:hover, input[type="button"].remove:hover, button.remove:hover {
		background-image: url('../../../images/admin/icons/delete.png'), -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	}	
}

td input[type="radio"]  {
	margin-top:5px;
	margin-bottom:5px;
}

input[type="radio"] + label  {
	padding-left:5px;
	margin-right:10px;
}


input[type="text"].search	{
	background-image:url('../../../images/search.png');
	background-position: 2px 3px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

form .changed {
	color:blue;
}

form.blocklables label {
	display:inline-block;
	text-align:right;
}

form.blocklables label:after {
	content:':';
}

form.blocklables input[type="radio"] + label  {
	width:auto;
	margin-right:10px;
}

form.blocklables input[type="radio"] + label:after {
	content:none;
}

form.label_width_200 label {
	width:200px;
}

form.label_width_200 p.buttons {
	margin-left:207px;
}

form.label_width_120 label {
	width:120px;
}

form.label_width_120 p.buttons {
	margin-left:127px;
}

form.label_width_100 label {
	width:100px;
}

form.label_width_100 p.buttons {
	margin-left:107px;
}

/******************
* Tables          *
******************/

table {
	border-collapse:collapse;
	border:1px solid #BBBBBB;
}

td, th {
	border: 1px solid #BBBBBB;
	padding: 1px 2px;
}

th	{
	background:#e1e1e1;
}

tbody th {
	text-align:left;
	padding: 1px 3px;
}

tbody tr:nth-child(odd)	{
	background:#e8e8e8;
}

tbody tr:nth-child(even)	{
	background:#f1f1f1;
}

/******************
* Navigation      *
******************/

.navmenu, .navsubmenu {
	list-style-type:none;
	margin:0;
	padding:0;
}

.navmenu li, .navsubmenu li {
	margin:0;
	padding:0;
}

.navmenu li {
	width:180px;
	padding: 2px 2px 2px 8px;
	margin: 0px auto;
}

.navmenu li a {
	font-weight:bold;
	font-size:10pt;
	color:#111;
	text-decoration:none;
	font-family:  'Droid Sans', verdana, sans-serif;
}

.navmenu li a:hover {
	color:#333;
}

.navmenu li a.active {

}

.navsubmenu li {
	width:150px;
	padding: 0px 0px 1px 2px;
	margin: 0px 0px 0px 15px;
}

.navsubmenu li.bar {
	padding-bottom:4px;
	border-bottom: 1px solid #999;
}

.navsubmenu li a {
	font-weight:normal;
	font-size:9pt;
	color:#555;
	text-decoration:none;
}

.navsubmenu li a:hover {
	color: #000;
	text-decoration:none;
}

.navsubmenu li a.active {
	color:#000;
}

#headernav {
	display: inline;
	margin:0;
	padding:0;
	list-style-type:none;
	/* Fixes whitespace problem with horizontal lists */
	font-size:0;
}

#headernav li {
	font-size:10pt;
	margin:0;
	display:inline-block;
	color:white;
}

#headernav li a {
	font-weight:bold;
	color:white;
	text-decoration:none;
}

#headernav li a:hover {
	text-decoration:underline;
}

#headernav li:after {
	padding:0 5px;
	content:"|";
}

#headernav li:last-child:after {
	padding:0;
	content:none;
}

/******************
* Sidebar         *
******************/

#sidebar input[type="text"].search {
	width:130px;
}

.side_widget_table {
	font-size:8pt;
	width:100%;
	margin:20px 5px;
}

.side_widget_table caption {
	font-weight:bold;
	text-align:left;
	font-size:9pt;
	padding:3px 1px;
}

.side_widget_table th {
	font-weight:normal;
}

.side_widget_table tbody tr {
	background:#f1f1f1;
}

/******************
* Colors          *
******************/

.color_ok {
	color:green;
}

.color_warn, .color_warning  {
	color:orange;
}

.color_err, .color_error  {
	color:red;
}

/******************
* Login          *
******************/

body.login {
	height:auto;
}

body.login #layoutbox {
	width:900px;
	min-width:0px;
	margin:0px auto;
	text-align:center;
}

body.login #content {
	padding-left: 20px;
}

body.login #main {
	min-height:0;
	padding:50px 50px;
}

.login_form	{
	text-align:left;
	width:380px;
	margin:30px auto;
}

.login_form	 label	{
	width:120px;
	display:inline-block;
	text-align:right;
	vertical-align:middle;
}

.login_form	 label:after {
	content:':';
}

.login_form input[type="text"], .login_form input[type="password"]	{
	padding:2px;
	vertical-align:middle;
}

.login_form  .buttons {
	margin-top:20px;
}

.loginmsg	{
	margin:10px 0px 20px 0px;
}

/******************
* Popup Window    *
******************/

body.adminpopup {
	background: #f8f8f8;
	color:black;
}

#popupcontainer {
	margin: 0;
	padding: 5px 20px 20px 20px;
	font-size: 0.9em;
}

/******************
* Overview        *
******************/

.overview_widget {
	width:550px;
}

/******************
* Custom Stuff    *
******************/

.clear, .clearer {
	clear:both;
}

#userlist  {
  position:absolute;
  z-index:10;
  border:1px #ccc solid;
  border-top:none;
  border-bottom:none;
  background:#223;
  padding:0px;
  display:none;
}

#userlist ul  {
  padding:0 10px 0 10px;
  margin:0;
}

#userlist li  {
  list-style:none;
  padding-left:0;
}

#userlist a  {
  text-decoration:none;
  color:#aaa;
  display:block;
  padding:5px;
  border-bottom:1px solid #fff;
}
#userlist a:hover {
  color:#fff;
  background:#225;
}


/* Xajax Suchliste z.b. bei Usereingabe in Nachrichten*/
.citybox  {
  position:absolute;
  z-index:10;
  border:1px #ccc solid;
  border-top:none;
  border-bottom:none;
  background:#223;
  padding:0px;
  display:none;
}

.citybox ul  {
  padding:0 10px 0 10px;
  margin:0;
}

.citybox li  {
  list-style:none;
  padding-left:0;
}

.citybox a  {
  text-decoration:none;
  color:#aaa;
  display:block;
  padding:5px;
  border-bottom:1px solid #fff;
}
.citybox a:hover {
  color:#fff;
  background:#575763;
}

.popuplink.highlight {
	color:#ff0;
}

.eventhandler_log {
	padding:3px;
	margin:3px;
	box-shadow:inset 1px 1px 1px #eee;
	font-family: Verdana, sans-serif;
	background:#eee;
	border-width:1px;
	border-style:solid;
	border-color: #e2e3ea;
	border-bottom-color: #e3e9ef;
	border-top-color: #abadb3;
	overflow:scroll;
	height:400px
}