{% extends 'admin/layout/login.html.twig' %}

{% block content %}
    <h2>Passwort senden</h2>
    
    <p>
        Hier kannst du ein neues Passwort beantragen.<br/>
        Es wird dir dann an die eingestellte E-Mail-Adresse gesendet!
    </p>

    {{ form(form) }}

    <p>
        <a href="{{ path('admin.login') }}">Zurück zum Login</a>
    </p>
{% endblock %}
