{% extends 'admin/layout/login.html.twig' %}

{% block content %}
    <h2>Passwort senden</h2>
    <p>
        Hier kannst du ein neues Passwort beantragen.<br/>
        Es wird dir dann an die eingestellte E-Mail-Adresse gesendet!
    </p>

    <form action="?sendpass=1" method="post" class="login_form">
        <p>
            <label for="user_nick">Loginname</label>
            <input type="text" name="user_nick" id="user_nick" required />
        </p>
        <p class="buttons">
            <input type="submit" name="sendpass_submit" value="Neues Passwort senden" /> &nbsp;
            <input type="button" value="Zum Login" onclick="document.location='?'" />
        </p>
    </form>
    <script type="text/javascript">document.forms[0].elements[0].focus()</script>

{% endblock %}
