{% extends 'admin/layout/base.html.twig' %}

{% set htmlClass = 'h-100' %}
{% set bodyClass = 'h-100' %}

{% block layoutContent %}
    <div class="app-login">
        <div class="login-container">
            <header class="branding">
                <a href=".."><img class="logo" src="{{ asset('build/images/logo.png') }}" alt="Logo"/></a>
                <div class="slogan">Administration {{ configValue('roundname') }}</div>
            </header>
            <main class="main">
                <div id="content">
                    {% for type, messages in app.flashes|default([]) %}
                        {% for message in messages %}
                            {{ component('admin_message_box', { type: type, message: message }) }}
                        {% endfor %}
                    {% endfor %}
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
{% endblock %}
