{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Mein Profil</h1>

    <p>&Auml;ndere hier deine Daten und klicke auf '&Uuml;bernehmen', um die Daten zu speichern:</p>

    <fieldset>
        <legend>Daten</legend>
        {{ form(profileForm, {attr: {class: 'blocklables label_width_120'}}) }}
    </fieldset>

    <fieldset>
        <legend>Password</legend>
        {{ form(passwordForm, {attr: {class: 'blocklables label_width_120'}, action: path('admin.profile.password')}) }}
    </fieldset>

    <form method="post" class="blocklables label_width_200">
        <fieldset><legend>Zwei-Faktor-Authentifizierung</legend>
            {% if user.tfaSecret %}
                <p>Zwei-Faktor-Authentifizierung ist aktiv. <a href="{{ path('admin.tfa.disable') }}" class="">Deaktivieren</a></p>
            {% else %}
                <p>Zwei-Faktor-Authentifizierung ist NICHT aktiv. <a href="{{ path('admin.tfa.enable') }}" class="">Aktivieren</a></p>
            {% endif %}
        </fieldset>
    </form>
{% endblock %}
