{% extends 'layout/game.html.twig' %}

{% block content %}
   <h1>Willkommen in Andromeda</h1>
   <div class="userSetupContainer">
       {% block setup %}
       {% endblock %}
   </div>
{% endblock %}