{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h3>Filesharing</h3>

    <h4>Umbenennen</h4>
    <form action="{{ path('admin.tools.filesharing.rename') }}" method="post">
        Dateiname:
        <input type="text" name="rename" value="{{ name }}" />
        <input type="hidden" name="rename_old" value="{{ name }}" />
        &nbsp; <input type="submit" name="rename_submit" value="Umbenennen" /> &nbsp;
    </form>
{% endblock %}
