{% set title="Filesharing" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Liste der Dateien', url: path('admin.tools.filesharing') },
        { label: 'Datei Umbenennen', url: path('admin.tools.filesharing.rename', { path: base64(name) }) },
    ]}) }}
{% endblock %}

{% block content %}

    <form action="{{ path('admin.tools.filesharing.rename', { path: base64(name) }) }}" method="post">
        <fieldset>
            <legend>Datei umbenennen</legend>
            <p>
                <label for="rename">Dateiname:</label>
                <input type="text" name="rename" id="rename" value="{{ name }}" autofocus size="100"/>
            </p>
            <input type="submit" name="rename_submit" value="Umbenennen"/>
        </fieldset>
    </form>

{% endblock %}
