{% if tutorial_id|default(0) > 0 %}
    <div id="tutorialContainer" style="display:none;" data-tutorial="0">
        <div class="tutorialBox">
            <div class="tutorialTitle">Tutorial: <span class="tutorialTitleContent"></span>
                <span style="float:right;">
                    <input type="button" value="Min" class="tutorialMinimize" title="Minimieren" />
                    <input type="button" value="X" class="tutorialClose" title="Schliessen" />
                </span><br style="clear:both;">
            </div>
            <div class="tutorialContent">...</div>
            <div class="tutorialFooter">
                <input type="button" value="Zurück" class="tutorialPrev" style="display:none;" />
                <span style="float:right;">
                    <input type="button" value="Weiter" class="tutorialNext" style="display:none;" />
                    <input type="button" value="Schliessen" class="tutorialFinish" style="display:none;" />
                </span><br style="clear:both;">
            </div>
        </div>
        <div class="tutorialBoxReduced">
            <input type="button" value="Tutorial" class="tutorialRestore" />
        </div>
    </div>
    <script>
        $(function(){
            showTutorialText({{ tutorial_id }});
        });
    </script>
{% endif %}
