{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Konfiguration</h1>
    <h2>Integritätsprüfung</h2>

    {{ message|raw }}

{% endblock %}
