*	{
	margin:0px;
	padding:0px;
	border:none;
}

body	{
	margin:20px;
	color: white;
	font-family:verdana, sans-serif, ARIAL;
	font-size: 10pt;
	background:#000 url('../../images/background.jpg');
}

img	{
	border:none;
}

a	{
	color: #ffffff;
	text-decoration:underline;
	background:none;
}

a:hover	{
	color: #ffffff;
	text-decoration:none;
	background:none;
}

h1	{
	font-size:11pt;
	text-align:center;
	margin-top:5px;
	margin-bottom:10px;
}

h1:before	{
	content:":: ";
}

h1:after	{
	content:" ::";
}

h2	{
	font-size:10pt;
	text-align:center;
	margin-bottom:10px;
}

h2:before	{
	content:": ";
}

h2:after	{
	content:" :";
}

table	{
	border-collapse:collapse;
}

/* Wenn sich der cursor in einem text feld befindet... */
/* Internet Explorer unterstützt diese funktion nicht!!!*/
input:focus,textarea:focus, select:focus {
 	border:1px solid #fff;
  background:#000;
}

/*Definiert die Buttons bei "bauhof" oder "forschung", hintergrund sollte der selbe wie tbldata sein*/
button	{
	background:#575763;
	border:none;
	cursor:pointer;
}

/* Definiert die verschieden button typen im normal zustand */
/* Internet Explorer unterstützt diese funktion nicht!!!*/
input[type="submit"],input[type="reset"],input[type="button"]	{
	background:#000000 url('images/button1.jpg');
	color:#fff;
	font-weight:bold;
}

input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus	{
	background:#000000 url('images/button1.jpg');
	color:#fff;
	font-weight:bold;
	border:1px solid #ff0;
}

/* Definiert die verschieden button typen im hover zustand */
/* Internet Explorer unterstützt diese funktion nicht!!!*/
input:hover[type="submit"],input:hover[type="reset"],input:hover[type="button"]	{
	background:#000000 url('images/button2.jpg');
	color:#fff;
	font-weight:bold;
}

input,select,textarea	{
	border:solid #fff 1px;
	font-family:arial;
	font-size:10pt;
	background:#000;
	color:#fff
}

#layoutbox	{
	margin:0px auto;
	background:#000000;
	font-size:10pt;
	vertical-align:top;
	border:1px solid orange;
}

#topbar	{
 	text-align:right;
 	padding-right:10px;
 	background:#000;
 	height:19px;
	border:1px solid #orange;
}

#topbar a {
	text-decoration:none;
	font-weight:bold;
}

#topbar a:hover {
	text-decoration:none;
	color:#aaa;
	font-weight:bold;
}

#logo	{
	background:#000 url('../../images/logo.jpg') no-repeat;
	width:175px;
	height:72px;
	border:1px solid #fff;
}

#banner	{
	text-align:center;
	background:#000 url('../../images/banner.jpg') no-repeat;
	height:72px;
	border:1px solid #fff;
}

#selectbar	{
	background:#222;
	width:185px;
}

#selectbar select {
	width:185px;
	background:#222;
	color:#fff;
}


#middlebar	{
	background:#6e7591;
	height:21px;
	border:1px solid #fff;
	border-right:none;
	padding-left:15px;
}

#clockbar	{
	background:#6e7591;
	width:350px;
	padding-left:8px;
	border:1px solid #fff;
	height:21px;
	border-left:none;
	text-align:right;
}

#content	{
	background:#000000 url('../../images/background.jpg');
	height:450px;
	vertical-align:top;
	padding:4px 10px 10px 10px;
	border:1px solid #fff;
	border-right:1px solid orange;
	text-align:center;
}

#copy	{
	background:#000000 url('../../images/background.jpg');
	border:1px solid #ffffff;
	border-bottom:1px solid orange;
	border-left:1px solid orange;
	padding-left:8px;
}

#bottombar	{
	padding-top:4px;
	padding-right:4px;
	text-align:right;
	background:#000000 url('../../images/background.jpg');
	height:25px;
	vertical-align:top;
}

#menu1	{
	padding:0px 0px 40px 0px;
	background:#000000 url('../../images/background.jpg');
	width:175px;
	vertical-align:top;
	border:1px solid #ffffff;
	border-left:1px solid orange;
}

#menu1 div {
	font-weight:bold;
	background:#333;
	color:#fff;
	text-decoration:none;
	width:175px;
	padding: 2px 2px 2px 8px;
	margin: 0px auto;
	border-bottom:solid 1px #e6e6e6;
	border-top:none;
	height:16px;
}

#menu1 a {
	display: block;
	background:#575763;
	color:#eee;
	text-decoration:none;
	width:175px;
	padding: 2px 2px 2px 8px;
	margin: 0px auto;
	border-bottom:solid 1px #e6e6e6;
}

#menu1 a:hover {
	background-color:silver;
	color: #445543;
	text-decoration:none;
	border-bottom:solid 1px #e6e6e6;
}


.tbltitle, table.tb th {
	font-size:10pt;
	font-weight:bold;
	border:1px solid #fff;
	background:#333;
	padding:2px;
	vertical-align:top;
	text-align:left;
}

.tbldata, table.tb td {
	font-size:8pt;
	color:#fff;
	border:1px solid #fff;
	background:#575763;
	padding:3px;
	vertical-align:top;
	text-align:left;
}

/* Ressourcen Speicher voll / Bewohner -> farbe wenn gebäude baut */
/* rest muss gleich wie .tbldata sein! */
.tbldata2 {
	font-size:8pt;
	color:red;
	border:1px solid #ffffff;
	background:#575763;
	padding:3px;
	vertical-align:top;
	text-align:left;
}

/* Energie wenn sie Positiv ist (standart ist hellgrün) */
/* rest muss gleich wie .tbldata sein! */
.tbldata3 {
	font-size:8pt;
	color:#0f0;
	border:1px solid #ffffff;
	background:#575763;
	padding:3px;
	vertical-align:top;
	text-align:left;
}

/* Tabellenfelder mit Warntext (Standart ist orange) */
/* rest muss gleich wie .tbldata sein! */
.tbldata4 {
	font-size:8pt;
	color:#f90;
	border:1px solid #ffffff;
	background:#575763;
	padding:3px;
	vertical-align:top;
	text-align:left;
}


.tblblack, .tb td.tblblack, .tb th.tblblack {
	font-size:8pt;
	color:#fff;
	border:1px solid #fff;
	background:#000;
}

/* Allgemeine Tabellen definition welche gestreckt ist (infobox) */
.tbl, table.tb	{
	width:100%;
	margin:15px auto;
	border:1px solid #ffffff;
}

.tblc	{
	margin:0px auto;
	border:1px solid #ffffff;
}

div.infoboxtitle	{
	font-size:10pt;
	font-weight:bold;
	border:1px solid #fff;
	background:#333;
	padding:6px;
	text-align:center;
}

td.infoboxtitle, .tb td.infoboxtitle, .tb th.infoboxtitle	{
	font-size:10pt;
	font-weight:bold;
	border:1px solid #ffffff;
	background:#333;
	padding:4px;
	text-align:center;
}

div.infoboxcontent {
	font-size:8pt;
	color:#fff;
	border: none;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background:#575763;
	padding:3px;
	text-align:left;	
}

.statsTab	{
	/*width:120px;*/
	height:20px;
	border:1px solid #fff;
	margin:0px;
	padding:0px;
}


table.statsNav	{
	width:99%;
	border:1px solid #fff;
	margin:0px auto;
}

td.statsNav	{
	background:#000000 url(images/tabulator.gif);
}

.spaceCell {
	border: solid 1px #111;
	padding:0px;
	vertical-align:middle;
	text-align:center;
}

.spaceCellUser	{
	border: solid 2px #4f4;
	vertical-align:middle
	;text-align:center;
}

.spaceCellSelected	{
	border: solid 2px #ef4;
	vertical-align:middle;
	text-align:center;
}

td.coordstbl	{
	border:0px;
	background:#000000 url('../../images/empty_space.gif');
	vertical-align:middle;
	text-align:center;
	width:40px;
	height:40px;
}

table#outerspacetbl {
	margin:0px auto;
	border-collapse:collapse;
	padding:0px;
}

table#innerspacetbl {
	border:0px solid #fff;
	background:#000;
}




/* übersicht -> planetenliste */
/* \"Courier New\", Courier, mono; */

.PlaniTextLinks {
	color: #FFFFFF;
	font-family: "Arial", Courier, mono;
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
}
.PlaniTextRechts {
	color: #FFFFFF;
	font-family: "Arial", Courier, mono;
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
}
.PlaniTextOben {
	color: #FFFFFF;
	font-family: "Arial", Courier, mono;
	font-size: 11px;
	text-align: center;
	vertical-align: bottom;
}

.PlaniTextCenter {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterPlanetname {
	color: #FFFFFF;
	font-family: "SF Chaerilidae";
	font-size: 20px;
	text-align: center;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterBeschreibung {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: right;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterRessourcen {
	color: #FFFFFF;
	font-family: "SF Chaerilidae";
	font-size: 16px;
	text-align: center;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterStore {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	vertical-align: baseline;
	font-weight: lighter;
}
.PlaniTextCenterPower {
	color: #0f0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	vertical-align: baseline;
	font-weight: lighter;
}

table.tab	{
	margin:0px auto;
	border:1px solid #000;
	border-collapse:collapse;
}


td.havenTab	{
	width:200px;
	height:30px;
	border:1px solid #000;
	margin:0px;
	padding:0px;
	background:#ddf;
	color:#222;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}

td.havenTab:hover	{
	background:#889;
	color:#000;
	text-decoration:none;
}

#havenBox, #havenInfoBox 	{
	border:1px solid #000;
	width:600px;
	margin:0px auto;
}


/* Xajax Suchliste z.b. bei Usereingabe in Nachrichten*/
.citybox  {
  position:absolute;
  z-index:10;
  border:1px #ccc solid;
  border-top:none;
  border-bottom:none;
  background:#223;
  padding:0px;
  display:none;
}

.citybox ul  {
  padding:0 10px 0 10px;
  margin:0;
}

.citybox li  {
  list-style:none;
  padding-left:0;
}

.citybox a  {
  text-decoration:none;
  color:#aaa;
  display:block;
  padding:5px;
  border-bottom:1px solid #fff;
}
.citybox a:hover {
  color:#fff;
  background:#575763;
}

.boxLayout	{
	 margin:15px auto;
}

/* Resource */
#resbox	{
	margin-bottom:20px;
	width:650px;
	border:1px solid #fff;
}

#resboxheader	{
	background:url('images/cellpic.gif') no-repeat;
	height:21px;
	color:#fff;
	font-weight:bold;
	padding-left:20px;
	padding-top:5px;
	border-bottom:1px solid #fff;
}

#resboxcontent	{
	padding:5px;
	background:#333 url('images/cellpic3.gif') repeat;
}

.buildOverviewObjectContainer {
    margin-top:-1px;
    width:25%;
    height:160px;
    float:left;
    text-align:center;
    background-repeat:no-repeat;
    background-position:left;
    position:relative;
    overflow:hidden;
    margin-right:-1px;
    margin-bottom:-1px;
    border-bottom:1px solid;
    border-right:1px solid;
}

.buildOverviewObjectTitle	{
	font-weight:bold;
    text-align:center;
    width:100%;
    margin:0px;
    float:left;
    text-decoration:none;
}

.buildOverviewObjectSubTitle {
	font-weight:normal;
    text-align:center;
    width:100%;
	padding-bottom:2px;
    margin:0px;
    float:left;
    text-decoration:none;
}

.buildOverviewLink {
    display:block;
    text-align:center;
    text-decoration:none;
    height:160px;
}
    

.buildOverviewObjectLevel	{
    display:none;
}

.buildOverviewObjectImage {
    width:100%;
    height:120px;
    padding-bottom:5px;
}

.buildOverviewBGImage {
    text-align:center;
    background-repeat:no-repeat;;
    position:relative;
    overflow:hidden;
    padding:2px;
    margin:2px;
    background-color:#575763;
}

.buildOverviewObjectNone, .tb td.buildOverviewObjectNone {
	border:none;
	
}


.planetOverviewList	{
	position:absolute;
	left:20px;
	bottom:20px;
	font-size:9pt;
}

.planetOverviewItem	{
	float:left;
	width:120px;	
	font-size:9pt;
	font-weight:bold;
	height:17px;
}

/* Tab Menu */
.tabMenu	{
	display:table;
	height:20px;
	margin:10px auto 0px auto;
	border:1px solid #fff;
}

.tabMenu	a	{
	display:block;
	float:left;
	height:20px;
	color:#fff;
	text-decoration:none;
	padding:7px 10px 3px 10px;	
	background:#575763;
	border-right:1px solid #fff;
}

.tabMenu	a:hover	{
	display:block;
	float:left;
	height:20px;
	color:#fff;
	padding:7px 10px 3px 10px;	
	background:#363636;
}

.tabMenu	a.tabEnabled	{
	display:block;
	float:left;
	color:#fff;
	height:20px;
	padding:7px 10px 3px 10px;	
	background:#333;
}

/* Nachrichten -> Neu, Archiv, Erstellen, Gesendet -> geklickt hover effekt */
.tabMenu    a.tabEnabled:hover	{
	text-decoration:none;
	background:silver;
}

.tabMenu a.tabLast	{
	border-right:0px solid #fff;
}
/* Pulldown Menu */

/* Get rid of the margin, padding and bullets in the unordered lists */
#pmenu {
	padding:0; 
	margin:10px auto 0px auto; 
	list-style-type: none; 
	display:table;
}

#pmenu ul {
	padding:0; 
	margin:0; 
	list-style-type: none; 
	display:block;
}

/* Hide the sub levels */
#pmenu li ul {
	display:none;
}

/* Set up the link size, color and borders */
#pmenu li a, #pmenu li a:visited {
	display:block;
	color:#fff;
	background:#575763;
	padding:3px 10px 0px 10px;
	height:28px; 
	line-height:24px; 
	text-decoration:none; 
	text-indent:5px; 
	border:none;
	text-align:center;
}

/* Set up the sub level borders */
#pmenu li ul li a, #pmenu li ul li a:visited {
	border:1px solid #fff;
	width:110px;
	text-align:left;
	border-top:none;
}
#pmenu li a.enclose, #pmenu li a.enclose:visited {border-width:1px;}

/* Set up the list items */
#pmenu li {
	float:left; 
	background:#575763;
	border:1px solid #fff;
}
#pmenu li.tc {display:table-cell;}

/* For Non-IE browsers and IE7 */
#pmenu li:hover {position:relative;}
/* Make the hovered list color persist */
#pmenu li:hover > a {background:#363636; color:#fff;}
/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#pmenu li:hover > ul {display:block; position:absolute; top:-11px; left:80px; padding:10px 30px 30px 30px; background:transparent url(transparent.gif); width:120px;}
/* Position the first sub level beneath the top level liinks */
#pmenu > li:hover > ul {left:-30px; top:22px;}

/* get rid of the table */
#pmenu table {position:absolute; border-collapse:collapse; top:0; left:0; z-index:100; font-size:1em;}

/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu li a:hover {position:relative; background:#363636; color:#fff;}

/* For accessibility of the top level menu when tabbing */
#pmenu li a:active, #pmenu li a:focus {background:#363636; color:#fff;}

/* Set up the pointers for the sub level indication */
#pmenu li.fly {}
#pmenu li.drop {}


/* This lot is for IE5.5 and IE6 ONLY and is necessary to make the sublevels appear */

/* change the drop down levels from display:none; to visibility:hidden; */
* html #pmenu li ul {visibility:hidden; display:block; position:absolute; top:-11px; left:80px; padding:10px 30px 30px 30px; background:transparent url(transparent.gif);}

/* keep the third level+ hidden when you hover on first level link */
#pmenu li a:hover ul ul{
visibility:hidden;
}
/* keep the fourth level+ hidden when you hover on second level link */
#pmenu li a:hover ul a:hover ul ul{
visibility:hidden;
}
/* keep the fifth level hidden when you hover on third level link */
#pmenu li a:hover ul a:hover ul a:hover ul ul{
visibility:hidden;
}
/* keep the sixth level hidden when you hover on fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul ul {
visibility:hidden;
}

/* make the second level visible when hover on first level link and position it */
#pmenu li a:hover ul {
visibility:visible; left:-30px; top:14px; lef\t:-31px; to\p:15px;
}

/* make the third level visible when you hover over second level link and position it and all further levels */
#pmenu li a:hover ul a:hover ul{ 
visibility:visible; top:-11px; left:80px;
}
/* make the fourth level visible when you hover over third level link */
#pmenu li a:hover ul a:hover ul a:hover ul { 
visibility:visible;
}
/* make the fifth level visible when you hover over fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul { 
visibility:visible;
}
/* make the sixth level visible when you hover over fifth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul a:hover ul { 
visibility:visible;
}


/* Techtree */

.techtreeItemContainer	{
	margin:0px auto 10px auto;
	display:table;
	text-align:center;
	max-width:580px;
}

.techtreeMainItem	{
	position:relative;
	width:120px;
	height:120px;
	border:1px solid #fff;	
	margin:10px auto;
}

.techtreeItem	{
	margin:10px; 
	position:relative;
	float:left;
	width:120px;
	height:120px;
	border:1px solid black;
}
.techtreeItemLevel	{
	position:absolute;
	top:0px;
	background:url('images/transheader1.png') top right;
	color:#fff;
	padding:3px 15px 3px 3px ;
}
.techtreeItemName	{
	position:absolute;
	bottom:0px;
	font-size:8pt;
	padding:5px;	
	background:url('images/trans1.png');
	color:#fff;
	width:110px;
}

/* Statistics */

#statsHeaderContainer	{
	margin-bottom:10px;
}

#statsSearchContainer	{
	text-align:left;
	float:left;
}

#statsNav1, #statsNav2	{
	text-align:right;
	float:right;	
}

#statsNav1 input, #statsNav2 input	{
	margin-right:5px;
}

#statsTable	{
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}

.loadingMsg	{
	padding:20px;
	background:url('images/loading.gif') top center no-repeat;
	text-align:center;
}
