/**
* Alerts
 */

.messagebox {
    border: 1px solid #111;
    color: #dae9ff;
    margin: 15px 0;
}

.messagebox div div {
    background: rgba(24, 35, 59, 0.9);
    padding: 4px 6px;
}

.messagebox div .messagetitle {
    font-weight: bold;
    background: rgba(24, 35, 59, 0.5);
    border-bottom: 1px solid #111;
}

.messagebox div.success .messagetitle {
    color: #0f0;
}

.messagebox div.info .messagetitle {
    color: #0ff;
}

.messagebox div.warning .messagetitle {
    color: #ff9900;
}

.messagebox div.error .messagetitle {
    color: #f00;
}