<div>
    <div style="float:left;">
        <input type="hidden" value="{{ search.limit }}" name="limit">

        {% if search.limit > 0 %}
            <button type="button" data-action="live#action" data-action-name="prevent|firstPage">&lt;&lt;</button>
            <button type="button" data-action="live#action" data-action-name="prevent|previousPage">&lt;</button>
        {% else %}
            <button type="button" disabled="disabled">&lt;&lt;</button>
            <button type="button" disabled="disabled">&lt;</button>
        {% endif %}
        {% if search.limit < search.total - search.perPage %}
            <button type="button" data-action="live#action" data-action-name="prevent|nextPage">&gt;</button>
            <button type="button" data-action="live#action" data-action-name="prevent|lastPage">&gt;&gt;</button>
        {% else %}
            <button type="button" disabled="disabled">&gt;</button>
            <button type="button" disabled="disabled">&gt;&gt;</button>
        {% endif %}

    </div><div style="float:right">
        {{ min(search.limit + 1, search.total) }} - {{ search.limit + search.entries|length }} von {{ search.total }}
    </div>
</div>
