{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spiel offline nehmen</h1>

    {{ form_start(form) }}
    {% if isOffline %}
        <twig:alert type="warning">Das Spiel ist offline!</twig:alert>

        {% for row in form %}
            {{ form_row(row) }}
        {% endfor %}

        <div>
            <input type="submit" value="Änderungen speichern" name="save"/>
            <input type="submit" value="Spiel online stellen" name="online"/>
        </div>
    {% else %}
        <twig:alert type="success">Das Spiel ist online!</twig:alert>
        <div>
            <input type="submit" value="Spiel offline nehmen" name="offline"/>
        </div>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
