{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spielstatistiken</h1>

    <h2>Spieler</h2>
    {% if userStats %}
        <p><img src="{{ userStats }}" alt="Userstats"/></p>
    {% else %}
        <twig:alert type="warning">User Statistik nicht vorhanden!</twig:alert>
    {% endif %}

    {% if xmlInfo %}
        <button type="button" onclick="window.open('{{ xmlInfo }}');">Als XML herunterladen</button>&nbsp;
    {% endif %}

    {% if gameStats %}
        {{ gameStats|raw }}
    {% else %}
        <twig:alert type="warning">Spielstatistiken nicht vorhanden!</twig:alert>
    {% endif %}
{% endblock %}
