{% extends 'components/base_search.html.twig' %}

{% block data %}
    <tr>
        <th>ID</th>
        <th>Spieler</th>
        <th>Planet</th>
        <th>Forschung</th>
        <th>Level</th>
        <th>Status</th>
        <th>Start</th>
        <th>End</th>
        <th>Aktion</th>
    </tr>
    {% for item in search.entries %}
        {{ component('admin_technology_view', {
            item: item,
            user: this.userNicks[item.userId],
            technology: this.technologyNames[item.technologyId],
            entity: this.entities[item.entityId]
        }) }}
    {% else %}
        <tr><td colspan="9999"><i>Keine Einträge vorhanden</i></td></tr>
    {% endfor %}
{% endblock %}
