<div class="messagebox">
    <div class="{{ type }}">
        {% if title %}
            <div class="messagetitle">{{ title }}</div>
        {% endif %}
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>