<div class="alert alert-{{ type }}">
    <div>
        {% if title %}
            <div class="alert-title">{{ title }}</div>
        {% endif %}
        <div class="alert-content">{% block content %}{% endblock %}</div>
    </div>
    {% if actionLabel and actionUrl %}
        <div class="alert-action-wrapper">
            <a href="{{ actionUrl }}" class="alert-action">{{ actionLabel }}</a>
        </div>
    {% endif %}
</div>