<div class="messagebox">
    <div class="{{ type }}">
        {% if title %}
            <p class="messagetitle">{{ title }}</p>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>