<div
        {{ attributes }}
>
    {{ form_start(form) }}

    {{ form_widget(form.userMulti.vars.button_add, {label: '+ Add Item', attr: {class: 'btn btn-outline-primary'}}) }}

    {{ form_end(form) }}
</div>
