<twig:Box title="Ende der Runde">
    <div style="width:100%;text-align:center;">Die Runde endet am <strong> {{ outerScope.this.getParam1 }}</strong>!
        {{ outerScope.this.getParam2 }}
    </div>
</twig:Box>
