{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h2>Runde zur端cksetzen</h2>
    <form method="post">
        <p>Runde wirklich zur端cksetzen?</p>
        <input onclick="return confirm('Reset wirklich durchf端hren?')" type="submit" value="Ja, die gesamte Runde zur端cksetzen" />
    </form>
{% endblock %}
