{% extends 'layout/base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block layoutContent %}
    <div id="contentwrap">
        {% if errorMessage|default(false) %}
            {{ macros.errorMessage(errorMessage) }}
        {% endif %}

        {{ content|raw }}
    </div>
{% endblock %}
