{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Raketen</h1>

    {{ form(addForm) }}

    {{ component('admin_missiles_search', {
        form: form
    }) }}

    <p>Es sind {{ formatNumber(total) }} Einträge in der Datenbank vorhanden.</p>
{% endblock %}
