{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Admin-Management</h1>
    <h3>Bearbeiten</h3>

    {{ form(form) }}
{% endblock %}
