{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Administrator bearbeiten</h1>

    {{ component('breadcrumbs', { items: [
        { label: 'Admin-Management', url: path('admin.admin_management') },
        { label: admin.nick, url: path('admin.admin_management.edit', { id: admin.id }) },
    ]}) }}

    {{ form(form) }}
{% endblock %}
