{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Administrator hinzufügen</h1>

    {{ component('breadcrumbs', { items: [
        { label: 'Admin-Management', url: path('admin.admin_management') },
        { label: 'Neuer Administrator', url: path('admin.admin_management.new') },
    ]}) }}

    {{ form(form) }}
{% endblock %}
