{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Mein Profil</h1>

    {% if errMsg|default(false) %}
        {{ macros.messagebox(errMsg, 'error') }}
    {% endif %}

    <form action="?tfa" method="post" id="tfa_form" class="blocklables label_width_200">
        <fieldset><legend>Zwei-Faktor-Authentifizierung</legend>
            <p>Zwei-Faktor-Authentifizierung ist aktiv.</p>
            <p>Im die Zwei-Faktor-Authentifizierung zu deaktivieren, gibt bitte den Code aus der App in das Feld 'Challenge' ein und klicke auf 'Deaktivieren'.</p>
            <p>ACHTUNG: Wenn du Zwei-Faktor-Authentifizierung deaktivierst wird der entsprechende Eintrag in der 'Authenticator' App ungültig und kann nicht wiederverwendet werden.</p>
            <label for="tfa_challenge">Challenge</label> <input type="text" id="tfa_challenge" name="tfa_challenge" size="6" autocomplete="off" /><br/>
            <p class="buttons"><input type="submit" name="tfa_disable" value="Deaktivieren" /> &nbsp; <a href="?myprofile">Abbrechen</a></p>
        </fieldset>
    </form>
{% endblock %}
