{% extends 'admin/alliance/edit/edit-subnav.html.twig' %}

{% block editContent %}
    <table>
        <tr>
            <th style="width:120px;">Datum / Zeit</th>
            <th>Ereignis</th>
        </tr>
        {% for entry in history %}
            <tr>
                <td>{{ formatTimestamp(entry.timestamp) }}</td>
                <td class="tbldata">{{ BBCodeToHTML(entry.text)|raw }}</td>
            </tr>
        {% else %}
            <tr><td colspan="3" class="tbldata"><i>Keine Daten vorhanden!</i></td></tr>
        {% endfor %}
    </table>
{% endblock %}
